<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calidad de Aire - UTEC</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dateSelect.css">
    <link rel="stylesheet" href="/css/highchart.css">

    <!-- SIDEBAR -->
    <link rel="stylesheet" href="/css/sidebar.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>

    <div class="btn">
        <span class="fas fa-bars"></span>
	<div class="loader" id="spinLoader"></div>
    </div>
    <nav class="sidebar">
        <div class="text"> UTEC NO2 Project</div>
        <br>
        <div>
            
            
                <label class="sidebarLabel">Visualización del mes: </label> 
                <br>
                <select class="custom-selector" id="Year" onChange="MonthSelect('Month', 'Year', 'Warn1')"></select>
                <select class="custom-selector" id="Month"></select> 
            
            
                <label class="OpacidadLabel">Opacidad</label>
                <input class="OpacidadLabel" type="range" min="35" max="100" value="50" step="5" id="OpacitySlider" class="OpacitySlider">
                <label class="OpacidadLabel" id="OpacityLabel"></label>
                <button class="button" id="button" type="button" onClick="DateSel()">Mostrar</button>
                <br>
                <label class="warning" id="Warn1"> No hay data registrada para este mes <Label>
        </div>
        <br>
        <div>
            <label class="sidebarLabel">Rango del Gráfico:</label>
            <br>
            <label class="sidebarLabel">Inicio:</label> 
            <select class="custom-selector" id="startYear" onChange="MonthSelect('startMonth', 'startYear', 'Warn2')"></select>
            <select class="custom-selector" id="startMonth"></select>
            <label class="sidebarLabel">Fin:</label> 
            <select class="custom-selector" id="endYear" onChange="MonthSelect('endMonth', 'endYear', 'Warn2')"></select>
            <select class="custom-selector" id="endMonth"></select>
            <button class="button" id="button2" type="button" onClick="DateSel2()">Actualizar</button>
            <br>
            <label class="warning" id="Warn2"> No hay data registrada para este mes</Label>
            <!--
              <select class="custom-selector" id="markerYearSelector" onChange="changeMarkerYear()">
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021" selected>2021</option>
              </select>

            -->
            <!--
            <input type="range" min="2018" max="2021" value="2021" id="timeSlider" class="timeSlider" > 
            <label id="labelSlider"></label>
            -->
            
        </div>
        

        <div id="container" class="highcharts-figure"></div>
        <br>
        <div id="container2" class="highcharts-figure"></div>
        <br>
    </nav>

    <div class="content">
        <div id="map-template"></div>
    </div>
    <div class="btTxt_submit" id="myBtn"></div>

        <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <br><br>
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Descripcion')" id="defaultOpen">Descripción</button>
          <button class="tablinks" onclick="openCity(event, 'Satelite')">Satélite</button>
          <button class="tablinks" onclick="openCity(event, 'Desarrolladores')">Desarrolladores</button>
        </div>
        
        <div id="Descripcion" class="tabcontent">
          <h2>Calidad de Aire</h2>
          <p class="description">Este es un proyecto realizado en UTEC con el objetivo de 
            estudiar la calidad del aire utilizando como métrica los niveles de NO2 obtenidos desde el satélite Sentinel-5P. 
             Esta aplicación  se basa en la investigación "Air quality analysis in Lima-Peru using the NO<sub>2</sub> 
             levels during the COVID-19 pandemic lockdown" escrita por <a href="https://www.linkedin.com/in/diego-velayarce-r/?originalSubdomain=pe">Diego Velayarce</a>,
            <a href="https://www.linkedin.com/in/qespisisa-bustos/?originalSubdomain=pe">Qespisisa Bustos</a>, 
            <a href="https://www.linkedin.com/in/maria-paz-garcia-veramatus/?originalSubdomain=pe">María Paz García</a>, 
            <a href="https://www.linkedin.com/in/camila-timana/?originalSubdomain=pe">Camila Timana Mendoza</a>, 
            <a href="https://www.linkedin.com/in/danielhorna/">Daniel Horna Muñoz, Ph. D.</a>
            <a href="https://www.linkedin.com/in/victor-murray/">Victor Murray, Ph. D.</a></p>
        </div>
        
        <div id="Satelite" class="tabcontent">
          <h3>Satélite</h3>
          <p>Sentinel-5P OFFL NO2: Offline Nitrogen Dioxide</p>
          <h3>Proveedor de datos</h3>
          <p><a href="https://sentinel.esa.int/web/sentinel/user-guides/sentinel-5p-tropomi">European Union/ESA/Copernicus</a></p>
          <h3>Resolución</h3>
          <p>1113.2 metros</p>
          <h3>Banda utilizada</h3>
          <p>tropospheric_NO2_column_number_density</p>
          <h3>Unidades</h3>
          <p>mol/m<sup>2</sup></p>
          <p>Min: -0.00051</p>
          <p>Max: 0.0192</p>
          
        </div>
        
        <div id="Desarrolladores" class="tabcontent">
          
          <div class="row">
          
            <div class="column">
              <div class="card2">
                <img src="Ricardo.png" alt="Avatar" style="width:100%">
                <h3>Ricardo Carbajal</h3>
                <p class="title2">Estudiante de Ingeniería Electrónica</p>
                <p>UTEC</p>
                <a href="https://www.linkedin.com/in/ricardo-carbajal-mezarina-3a6911148"><i class="icon"></i></a>
                <br>
              </div>
            </div>

            <div class="column">
            <div class="card1">
              <img src="Noe.png" alt="Avatar" style="width:100%">
              <h3>Noe Salvatierra</h3>
              <p class="title2">Estudiante de Ingeniería Electrónica</p>
              <p>UTEC</p>
              <a href="https://www.linkedin.com/in/noe-salvatierra-cotrina-1624a912b/"><i class="icon"></i></a>
              <br>
            </div>
          </div>

          <div class="column">
            <div class="card0">
              <img src="Victor.png" alt="Avatar" style="width:100%">
              <h3>Victor Murray</h3>
              <p class="title2">PhD in Electrical Engineering </p>
              <p>Asesor de Projecto</p>
              <a href="https://www.linkedin.com/in/victor-murray/"><i class="icon"></i></a>
              <br>
            </div>
          </div>
           
      </div>

    </div>
    </div>

    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
      </script>

    <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
    <script>
        $('.btn').click(function(){
          $(this).toggleClass("click");
          $('.sidebar').toggleClass("show");
        });
          $('.feat-btn').click(function(){
            $('nav ul .feat-show').toggleClass("show");
            $('nav ul .first').toggleClass("rotate");
          });
          $('.serv-btn').click(function(){
            $('nav ul .serv-show').toggleClass("show1");
            $('nav ul .second').toggleClass("rotate");
          });
          $('nav ul li').click(function(){
            $(this).addClass("active").siblings().removeClass("active");
          });
     </script>
 
    <!-- HIGHCHART -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <!-- LEAFLET -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- CUSTOM SCRIPTS -->
    <script src="/js/main.js"></script>
</body>

</html>
